/* GENERAL */
body,
h1,
h2,
h3,
p,
ul,
li,
form {
  margin: 5px;
  padding: 5px;
}

/* HTML */
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Courier New", monospace;
  line-height: 1.6;
  background-color: #001f3f;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* HEADER */
header {
  background-color: #003366;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.ico {
  width: 100px;
  animation: moveIco 2s linear 0s alternate;
}
.ico:hover {
  animation-name: rotate;
  animation-duration: 0.7s;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.icons1 {
  font-size: 70px;
  margin: 0 50px;
  color: #4caf50;
  transition: color 0.5s ease;
}
.icons1:hover {
  color: #337ab7;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  margin-right: 20px;
  font-size: 18px;
  transition: color 0.5s ease;
}
nav li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease;
}
nav li a:hover {
  color: #4caf50;
  transition: color 0.5s ease;
}
nav li:hover {
  color: #4caf50;
  cursor: pointer;
}

/* MAIN */
main,
footer {
  font-size: 100%;
}
#aboutme #art-2 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
}
#art-1 ul li {
  list-style-type: none;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.form {
  margin-top: 15px;
}
#message {
  padding: 8px;
  border: 1px solid #337ab7;
  background-color: #001f3f;
  color: #fff;
  border-radius: 4px 0 0 4px;
}
input[type="text"] {
  padding: 8px;
  border: 1px solid #337ab7;
  background-color: #001f3f;
  color: #fff;
  border-radius: 4px 0 0 4px;
}
button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
button:hover {
  background-color: #337ab7;
  cursor: pointer;
}
main {
  padding: 40px;
  box-sizing: border-box;
  width: 100%;
}
article {
  margin-bottom: 20px;
  background-color: #004080;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
article li {
  text-align: left;
}
#sec-1 #art-1 h1 {
  font-size: 25px;
}
#sec-1 #art-1 p {
  text-align: center;
}
#img {
  display: inline-block;
  background-image: url(../img/IMG_0412\ 2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 250px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  opacity: 0;
  transition: 5s;
}
#img.opacity {
  opacity: 1;
}
h1,
h2 {
  color: #4caf50;
  text-align: center;
  font-weight: bold;
}
h2 {
  font-size: 20px;
}
.portfolio-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}
.portfolio-item.visible {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-item p a {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease;
}
.portfolio-item p a:hover {
  color: #4caf50;
  transition: color 0.5s ease;
}

/* FOOTER */
footer {
  background-color: #003366;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}
hr {
  border-color: #4caf50;
}
.icons {
  font-size: 24px;
  margin: 0 10px;
  color: #4caf50;
  transition: color 0.5s ease;
}
.icons:hover {
  color: #337ab7;
}
button#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: #337ab7;
  border: none;
  border-radius: 100%;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  display: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
button#scrollToTopBtn:hover {
  background-color: #337ab7;
  color: #4caf50;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  main,
  footer {
    font-size: 100%;
  }
  header {
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin-top: 20px;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  form {
    flex-direction: column;
  }

  input[type="text"] {
    margin-bottom: 10px;
    border-radius: 4px;
  }

  button {
    border-radius: 4px;
  }
  #aboutme #art-2 {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  main,
  footer {
    font-size: 70%;
  }
  #img {
    min-width: 200px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    opacity: 0;
    transition: 5s;
  }
  #img.opacity {
    opacity: 1;
  }
  article li {
    text-align: center;
  }
  .portfolio-item img {
    width: 400px;
  }
  .ico {
    width: 100px;
    animation: none;
  }
}

@media screen and (max-width: 570px) {
  main,
  footer {
    font-size: 70%;
  }
  #img {
    min-width: 200px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    opacity: 0;
    transition: 5s;
  }
  #img.opacity {
    opacity: 1;
  }
  article li {
    text-align: center;
  }
  .portfolio-item img {
    width: 350px;
  }
  .ico {
    width: 100px;
    animation: none;
  }
}

@media screen and (max-width: 500px) {
  main,
  footer {
    font-size: 70%;
  }
  #img {
    min-width: 150px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    opacity: 0;
    transition: 5s;
  }
  #img.opacity {
    opacity: 1;
  }
  article li {
    text-align: center;
  }
  .portfolio-item img {
    width: 250px;
  }
  .ico {
    width: 100px;
    animation: none;
  }
}

@media screen and (max-width: 380px) {
  main,
  footer {
    font-size: 60%;
  }
  #sec-1 #art-1 h1 {
    font-size: 23px;
  }
  #img {
    min-width: 150px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    opacity: 0;
    transition: 5s;
  }
  #img.opacity {
    opacity: 1;
  }
  article li {
    text-align: center;
  }
  .portfolio-item img {
    width: 230px;
  }
  .ico {
    width: 100px;
    animation: none;
  }
}
